uber_nyc_data.csv
taxi_zones.zip
nyc.2017-01.csv
nyc.2017-02.csv
nyc.2017-03.csv
nyc.2017-04.csv
nyc.2017-05.csv
nyc.2017-06.csv
shape
nyc_database1.db
to_send.npy
tripdist_tripdur_avgspeedvs_num_trips.png
__pycache__